


.favorites-container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell, .mat-cell {
  padding: 8px;
  text-align: left;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-row:nth-child(even) {
  background-color: #f5f5f5;
}
