<div class="container py-4">
  <div class="row text-center">
    <div class="col-12">
      <h2>Create New Recipe</h2>
      <form (ngSubmit)="createRecipe()" #recipeForm="ngForm" class="recipe-form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Title" name="title" [(ngModel)]="newRecipe.title" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Description" name="description" [(ngModel)]="newRecipe.description" required></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Calories" name="calories" [(ngModel)]="newRecipe.calories" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-select placeholder="Meal" name="meal" [(ngModel)]="newRecipe.meal" required>
            <mat-option value="ALM">Almuerzo</mat-option>
            <mat-option value="CEN">Cena</mat-option>
            <mat-option value="DES">Desayuno</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" [disabled]="!recipeForm.form.valid">Create Recipe</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6 offset-3">
      <ng-container *ngFor="let r of recipes">
        <mat-card class="my-3 recipe-card">
          <mat-card-title class="p-2 text-dark">{{r.title}}</mat-card-title>
          <mat-card-content class="p-2 text-primary d-flex flex-column">
            <div>
              <p class="lead">{{r.description}}</p>
              <p>Calories: {{r.calories}}</p>
              <p>Meal: {{r.meal}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
